/* You can add global styles to this file, and also import other style files */
table.table, th, td {
	font-size: 12px;
	border: 1px solid #000 !important;
	border-collapse: collapse !important;
}

.dataTables_wrapper { font-size: 12px }
a.page-link {
	font-size: 12px;
}

.card-header {
	color: #000 !important;
}

.dataTables_length {
	float: right !important;
}